@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.dropdown-container {
    margin-left: 20px;
  }
  
  label {
    margin-right: 8px;
    color: white;
  }
  
  select {
    padding: 6px;
    background-color: #1caa94fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  select:hover {
    background-color: #444444;
  }
  